@font-family {
  font-family: "Emo";
  src: './assets/fonts/Emo.woff';
}

body, canvas, div {
  font-family: inherit;
}

body {
  background-color: #383838;
  padding: 20px;
  font-family: "Emo";
}

a {
  margin: 20px;
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

a.readme {
  margin-top: 30px;
}
